.nf-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  background-color: #fffdf6; // Ordo-szerű off-white
}

.nf-logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f2937;
  letter-spacing: -0.01em;

  img {
    display: block;
  }
}

#ordoIcon {
  height: 40px;
  width: auto;
   background-image: url('/assets/ordoicon.svg');
    background-repeat: no-repeat;
}

.nf-link {
  font-size: 0.95rem;
  font-weight: 500;
  color: #374151;
  padding: 0.25rem 0;

  &:hover {
    color: #111827;
  }
}
