<div class="container-fluid">
  <div class="welcome-wrapper" id="heroimage">
    
    <div class="card" id="registration-form">
      <h2 class="text-center mb-2">Log in to your account!</h2>
      <p class="text-center">Please enter your personal details to log in.</p>

      <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">

        <!-- EMAIL -->
        <div class="mb-3 box">
          <label>Email</label>
          <input type="email" class="form-control"
                 placeholder="e.g. example@email.com"
                 required [(ngModel)]="user.email" name="email">
        </div>

        <!-- PASSWORD -->
        <div class="mb-3 box password-wrapper">
          <label>Password</label>
          <input style="border-radius: 10px 0 0 10px;" [type]="showPassword ? 'text' : 'password'" class="form-control"
                 placeholder="Enter your password"
                 required [(ngModel)]="user.password" name="password">
          <span class="toggle-password" (click)="showPassword = !showPassword">
            <ng-container *ngIf="showPassword; else showEye">
              <i class="bi bi-eye-slash"></i>
            </ng-container>
            <ng-template #showEye>
              <i class="bi bi-eye"></i>
            </ng-template>
          </span>
        </div>

        <!-- FORGOT PASSWORD -->
        <div class="text-end mb-3">
          <a href="#" class="forgot-password">Forgot password?</a>
        </div>

        <button type="submit" class="btn btn-primary w-100">Log In</button>
      </form>
    </div>

  </div>


<app-modal #modal
  [title]="'Login Successful'"
  [message]="'You are now logged in!'"
  [type]="modalType"
  [showCancel]="modalType !== 'success'"
  (confirm)="onConfirm()"
  (cancel)="onCancel()">
</app-modal>
</div>



