<section class="nf-hero position-relative overflow-hidden">
  <div class="container">

    <div class="header">
      <app-navbar></app-navbar>
    </div>

    <div class="content">
      <div class="hero-content">
        <h1 class="hero-title">
          Control Time.<br />
          <span>Protect Data.</span>
        </h1>

        <p class="hero-subtitle">
          Plan, manage and protect your events in<br />
          one secure platform.
        </p>

        <div class="hero-actions">
         <button class="btn btn-primary" (click)="goToLogin()">Log in</button>

          <a href="#" class="hero-help">
            <span class="icon">?</span>
            Get help
          </a>
        </div>
      </div>
    </div>

    <div class="blob-top-right">
      <img src="/Right_Graphic.png" alt="Right graphic">
    </div>

    <div class="blob-bottom-left">
      <img src="/Left_Graphic.png" alt="Left graphic">
    </div>

  </div>
</section>
